<section class="perfil-container">
    <div class="perfil-info-datos">
        <div class="perfil-info">
            <img src="{{ perfil.foto }}" alt="Perfil" class="perfil-img">
            <p>{{ usuario.username }}</p>
            <button class="btn-editar" onclick="openEditModal()">Editar Perfil</button>
        </div>
        <div class="perfil-datos">
            <h2>Datos del perfil</h2>
            <p>Nombre: {{ usuario.nombre }}</p>
            <p>Teléfono: {{ usuario.telefono }}</p>
            <p>Correo: {{ usuario.correo }}</p>
            <p>Dirección: {{ perfil.direccion }}</p>
            <p>Historial de compras <span class="historial-count">{{ perfil.historial | length if perfil.historial else 0 }}</span> <button class="btn-ver-historial">Ver Historial</button></p>
        </div>
    </div>
    <div class="perfil-reseñas">
        <h2>Mis reseñas</h2>
        <div class="reseñas-lista">
            <div class="reseñas-contenedor">
                <ul>
                    {% for reseña in usuario.reseñas %}
                    <li>{{ reseña }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
