{% extends 'base.html' %}

<!-- Titulo de la pagina --> {% block title %}Contacto{% endblock %}

<!-- CSS -->
{% block styles %}
<!-- Estilos para la barra de navegacion -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
<!-- Estilos para el footer -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
{% endblock %}

{% block menu %}
<!-- Barrra de navegacion (Menu) --> {% include 'navbar.html' %}
{% endblock %}


<!-- Contenido de la pagina inicial -->
<main class="main-container">
    {% block content %}

    {% if usuario %}
    <!-- Si el usuario esta logueado -->
    {% else %}
    <!-- Si el usuario no esta logueado -->
    {% endif %}

    {% endblock %}
</main>

{% block footer %}
<!-- Footer --> {% include 'footer.html' %}
{% endblock %}