{% extends 'base.html' %}

<!-- Titulo de la pagina --> {% block title %}Productos{% endblock %}

<!-- CSS -->
{% block styles %}
<!-- Estilos para la barra de navegacion -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/layout/navbar.css') }}">
<!-- Estilos para la pagina de Productos -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
<!-- Estilos para la pagina de Inicio -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/productos.css') }}">
{% endblock %}

{% block menu %}
<!-- Barrra de navegacion (Menu) --> {% include 'layout/navbar.html' %}
{% endblock %}

<!-- Contenido de la pagina de productos -->
<main class="productos-container"></main>
    {% block content %}
        {% include 'components/productos/card.html' %}
    {% endblock %}
</main>