{% extends 'base.html' %}

<!-- Titulo de la pagina --> {% block title %} KAME - AITAI {% endblock %}

<!-- CSS -->
{% block styles %}
<!-- Estilos para la Barra de Navegacion -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/layout/navbar.css') }}">
<!-- Estilos para el Footer -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/layout/footer.css') }}">
<!-- Estilos para la pagina de Subasta -->
{% endblock %}

{% block menu %}
<!-- Barrra de navegacion (Menu) --> {% include 'layout/navbar.html' %}
{% endblock %}

{% block footer %}
<!-- Footer --> {% include 'layout/footer.html' %}
{% endblock %}