<footer class="footer">
    <div class="footer-content">
        <div class="social-links">
            <!-- Icono FACEBOOK --><a href="https://www.facebook.com" target="_blank"> <img src="{{ url_for('static', filename='images/iconos/fb.png') }}" alt="Facebook" width="20" height="20"> </a>
            <!-- Icono IMSTAGRAM --><a href="https://www.instagram.com/yeye.lux/" target="_blank"> <img src="{{ url_for('static', filename='images/iconos/ig.png') }}" alt="Instagram" width="20" height="20"> </a>
            <!-- Icono TIK TOK --><a href="https://www.tiktok.com" target="_blank"> <img src="{{ url_for('static', filename='images/iconos/tt.png') }}" alt="TikTok" width="20" height="20"> </a>
            <!-- Icono HATSAPP --><a href="https://www.whatsapp.com" target="_blank"> <img src="{{ url_for('static', filename='images/iconos/wha.webp') }}" alt="Whatsapp" width="20" height="20"> </a>
        </div>
    </div>
</footer>