<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} <!-- Titulo de la pagina --> {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
   {% block styles %}<!-- estilos personalizado de CSS --> {% endblock %}
</head>
<body>
    {% block menu %}<!-- Barra de navegacion (Si esque contiene) --> {% endblock %}

    {% block content %}
    <!-- Contenido de la pagina -->
    {% endblock %}

    {% block footer %}<!-- Footer (Si es que contiene) -->{% endblock %}
</body>
</html>