/* Estilos para al tabla */
.product-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

.product-table th,
.product-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.product-table th {
    background-color: #f8f9fa;
    color: #343a40;
}

.product-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.product-table tr:hover {
    background-color: #e9ecef;
}

.edit-button,
.delete-button {
    background: none;
    border: none;
    cursor: pointer;
}

.edit-button img,
.delete-button img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.edit-button img {
    background-color: #007bff;
    border-radius: 5px;
    padding: 5px;
}

.delete-button img {
    background-color: #dc3545;
    border-radius: 5px;
    padding: 5px;
}
.product-photo {
    max-width: 100px;
    height: auto;
    border-radius: 5px;
}
.action-icon {
    width: 20px;
    height: 20px;
}